html,body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;


}
.pimg1{
    background-image: url("images/one.jpg");
    min-height: 100%;
    
    
}
.pimg2{
    background-image: url("images/two.jpg");
    min-height: 1400px;
    
    
}
.pimg3{
    background-image: url("images/three.jpg");
    min-height: 400px;
    
    
}
.pimg1,.pimg2,.pimg3{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 25px;
    letter-spacing: 8px;
    text-transform: uppercase;


}
.textBg{
    background-color: #313524;
    color: white;
}

.section{
    padding: 50px 50px;
    text-align: center;
}
.section-light{
    background-color: #decece;
    color: rgb(6, 6, 6);
}
.section-dark{
    background-color: #2b2d23;
    color: azure;
}

